@import url('https://fonts.googleapis.com/css?family=Poppins:100,300,400,500,600,700,800, 800i, 900&display=swap');  
* {  
  padding: 0;  
  margin: 0;  
  font-family: 'Poppins', sans-serif;  
}  
* {
    box-sizing: border-box;
  }
body{
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
    background: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
.container {  
    position: relative;  
  }  

  .container .card {  
    position: relative;  
    width: 320px;  
    height: 450px;  
    background: #359635;  
    border-radius: 20px;  
    overflow: hidden;  
    border-radius: 10px;
    border-color: #ff0 10px;
    display: inline;
    padding: 25px;
    margin: 25px;
    
  }  
  .container .card:before {  
    content: "";  
    position: absolute;  
    top: 0;  
    left: 0;  
    width: 100%;  
    height: 100%;  
    background: #ffbb00;  
    clip-path: circle(150px at 80% 20%);  
    transition: 0.5s ease-in-out;  
  }  
  .container .card:hover:before {  
    clip-path: circle(300px at 80% -20%);  
  }  

  .container .card:after {  
    content: "Nike";  
    position: absolute;  
    top: 30%;  
    left: -20%;  
    font-size: 12em;  
    font-weight: 800;  
    font-style: italic;  
    color: rgba(255, 255, 255, 0.04);  
  }  
  .container .card .imgBx {  
    position: absolute;  
    top: 50%;  
    transform: translateY(-50%);  
    z-index: 1000;  
    width: 100%;  
    height: 100%;  
    transition: .5s;  
  }  
  .container .card:hover .imgBx {  
    top: 0%;  
    transform: translateY(-25%);  
    /* bug */  
  }  
  .container .card .imgBx img {  
    position: absolute;  
    top: 50%;  
    left: 50%;  
    transform: translate(-50%, -50%) rotate(20deg);  
    width: 270px;  
  }  
  .container .card .contentBx {  
    position: absolute;  
    bottom: 0;  
    width: 100%;  
    height: 100px;  
    text-align: center;  
    transition: 1s;  
    z-index: 90;  
  }  
  .container .card:hover .contentBx {  
    height: 210px;  
  }  
  .container .card .contentBx h2 {  
    position: relative;  
    font-weight: 600;  
    letter-spacing: 1px;  
    color: #fff;  
  }  
  .container .card .contentBx .size,  
  .container .card .contentBx .color {  
    display: flex;  
    justify-content: center;  
    align-items: center;  
    padding: 8px 20px;  
    transition: .5s;  
    opacity: 0;  
    visibility: hidden;  
  }  
  .container .card:hover .contentBx .size {  
    opacity: 1;  
    visibility: visible;  
    transition-delay: .5s;  
  }  
  .container .card:hover .contentBx .color {  
    opacity: 1;  
    visibility: visible;  
    transition-delay: .6s;  
  }  
  .container .card .contentBx .size h3,  
  .container .card .contentBx .color h3 {  
    color: rgb(0, 0, 0);  
    font-weight: 25px;  
    font-size: 14px;  
    text-transform: uppercase;  
    letter-spacing: 2px;  
    margin-right: 10px;  
  }  
  .container .card .contentBx .size span {  
    width: 26px;  
    height: 26px;  
    text-align: center ;  
    line-height: 26px ;
    font-size: 18px;  
    display: inline-block;  
    color: #ffffff;  
    background: #ffffff;  
    margin: 0 5px;  
    transition: .5s;  
    color: #0a0707;  
    border-radius: 10px; 
    cursor:progress;
    
  }  
 
  .container .card .contentBx .size span:hover { /* other bug */  
    background: rgb(255, 0, 0);  
  }  
  .container .card .contentBx .color span {  
    width: 20px;  
    height: 20px;  
    background: #ff0;  
    border-radius: 50%;  
    margin: 0 5px;  
    cursor: pointer;  
  }  
  .container .card .contentBx .color span:nth-child(2) {  
     background: #00ccff;  
  }  
  .container .card .contentBx .color span:nth-child(3) {  
     background: #1B2FE9;  
  }  
  .container .card .contentBx .color span:nth-child(4) {  
     background: #080481;  
  }  
  .container .card .contentBx .color span:nth-child(5){
    background-color: #B90000;
  }
  .container .card .contentBx a {  
    display: inline-block;  
    padding: 10px 20px;  
    background: #fff;  
    border-radius: 4px;  
    margin-top: 10px;  
    text-decoration: none;  
    font-weight: 600;  
    color: #111;  
    opacity: 0;  
    transform: translateY(50px);  
    transition: .5s;  
  }  
  .container .card:hover .contentBx a {  
    opacity: 1;  
    transform: translateY(0px);  
    transition-delay: .7s;  
  }   

  .container {margin: 0 -5px;}

/* Clear floats after the columns */
.container:after {
  content: "";
  display: table;
  clear: both;
}
.card {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  @media screen and (max-width: 600px) {
    .card {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }



  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

  body {
      background: #000000;
      display: grid;
      height: 100vh;
      place-items: center;
      -webkit-font-smoothing: antialiased;
      width: 100vw;
  }
  
  button {
    animation: 1.5s ease infinite alternate running shimmer;
    background: linear-gradient(90deg, #FFE27D 0%, #64E3FF 30%, #9192FF 85%);
    background-size: 200% 100%;
    border: none;
    border-radius: 6px;
    box-shadow: -2px -2px 10px rgba(255, 227, 126, 0.5), 2px 2px 10px rgba(144, 148, 255, 0.5);
    color: #170F1E;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 670;
    line-height: 24px;
    overflow: hidden;
    padding: 12px 24px;
    position: relative;
    text-decoration: none;
    transition: 0.2s;
    
    svg {
      left: -20px;
      opacity: 0.5;
      position: absolute;
      top: -2px;
      transition: 0.5s cubic-bezier(.5,-0.5,.5,1.5);
    }
    
    &:hover svg {
      opacity: 0.8;
      transform: translateX(50px) scale(1.5);
    }
    
    &:hover {
      transform: rotate(-3deg);
    }
    
    &:active {
      transform: scale(0.95) rotate(-3deg);
    }
  
  }
  
  @keyframes shimmer {
    to {
      background-size: 100% 100%;
      box-shadow: -2px -2px 6px rgba(255, 227, 126, 0.5), 2px 2px 6px rgba(144, 148, 255, 0.5);
    }
  }

  footer {
    background-color: black; /* Set background color */
    cursor: pointer;
    color: white; /* Set text color */
    text-align: center; /* Align text to center */
    padding: 20px 0; /* Add padding */
    position: fixed; /* Fixed position at the bottom */
    left: 0;
    bottom: 0;
    width: 100%; /* Full width */
    text-decoration: none;
    font-weight: bold;
  }
  p{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
    font-weight: bold;
    text-decoration: line-through;
    height: 20px;
  }
